In [87]:
import sqlalchemy
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import os

In [88]:
password = 'Potter31!'
db_name = 'library'

In [89]:
books = pd.read_csv(os.getcwd() + '\\Books.csv')
authors = pd.read_csv(os.getcwd() + '\\Authors.csv')
patrons = pd.read_csv(os.getcwd() + '\\Patrons.csv')
loans = pd.read_csv(os.getcwd() + '\\Loans.csv')

In [90]:
conn = pymysql.connect(host='127.0.0.1', port=3306, user='root', password=password, database=db_name)

In [91]:
connection = create_engine("mysql+pymysql://root:" + password + "@localhost:3306/" + db_name)

In [92]:
books
table_name = 'books'
books.to_sql(name=table_name, con=connection, if_exists='replace', index=False)

In [93]:
authors
table_name = 'authors'
authors.to_sql(name=table_name, con=connection, if_exists='replace', index=False)

In [94]:
patrons
table_name = 'patrons'
patrons.to_sql(name=table_name, con=connection, if_exists='replace', index=False)

In [95]:
loans 
table_name = 'loans'
loans.to_sql(name=table_name, con=connection, if_exists='replace', index=False)