In [73]:
from py2neo import Graph, Node, Relationship
import pandas as pd

In [74]:
local_dbms_name = 'neo4j'
local_dbms_password = '<INSERT YOUR PASSWORD HERE!>'

graph = Graph('bolt://localhost:7687', auth=(local_dbms_name, local_dbms_password)) # Note: Make sure to start the connection
graph

Graph('bolt://localhost:7687')

In [75]:
books_df = pd.read_csv('Books.csv')
books_df.head(1)

,Book_ID (Primary Key),Title,Author's First Name,Author's Last Name,ISBN-10,Genre,Pages,Year,Lexile,Rating,...,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,0.0,Harry Potter and the Sorcerer's Stone,Joanne,Rowling,1338878921,Fantasy,223.0,1997.0,880,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
for index, row in books_df.iterrows():
    book_node = Node('Book', book_id=row[0], book_title=row[1], author_first_name=row[2], author_last_name=row[3], isbn_10=row[4], main_genre=row[5], page_count=row[6], publish_year=row[7], lexile_level=row[8], avg_rating=row[9], publisher=row[10])
    graph.create(book_node)

In [78]:
authors_df = pd.read_csv('Authors.csv')
authors_df.head(1)

,Author_ID (Primary Key),First Name,Last Name,Nationality,Undergraduate Degree?,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,0,Joanne,Rowling,British,True,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
for index, row in authors_df.iterrows():
    author_node = Node('Author', author_id=row[0], first_name=row[1], last_name=row[2], nationality=row[3], has_undergraduate_degree=row[4])
    graph.create(author_node)

In [80]:
patrons_df = pd.read_csv('Patrons.csv')
patrons_df.head(1)

,Patron_ID,First,Last,Street Number,Street,City,State,Zip Code,Phone,# of current loans,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,0,Wacky,Ticklesworth,432,Loopy Lane,Giggleton,Gigglytopia,90210,5404335215,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
for index, row in patrons_df.iterrows():
    patron_node = Node('Patron', patron_id=row[0], first_name=row[1], last_name=row[2], street_number=row[3], street=row[4], city=row[5], state=row[6], zip_code=row[7], phone_number=row[8], num_of_curr_loans=row[9])
    graph.create(patron_node)

In [82]:
loans_df = pd.read_csv('Loans.csv')
loans_df.head(1)

,Loan_ID,Book_ID,Book Title,Patron_ID,Patron First Name,Patron Last Name,Loan_Date,Due_Date,Return_Date,Fine,...,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,0,6,Harry Potter and the Prisoner of Azkaban,1,Chuckleberry,Gigglebottom,3/14/2022,4/14/2022,5/14/2022,#NAME?,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
for index, row in loans_df.iterrows():
    loan_node = Node('Loan', loan_id=row[0], book_id=row[1], book_title=row[2], patron_id=row[3], patron_first_name=row[4], patron_last_name=row[5], loan_date=row[6], due_date=row[7], return_date=row[8], fine=row[9])
    graph.create(loan_node)

In [77]:
# For if you want to clear the database (this doesn't delete the CSV files that you've imported)
query_to_delete_everything = '''
MATCH (n)
DETACH DELETE n;
'''

In [70]:
graph.run(query_to_delete_everything)

(No data)

In [71]:
# For if you want to retrieve everything in the database
query_to_get_everything = '''
MATCH (n) RETURN n;
'''

In [72]:
graph.run(query_to_get_everything)

(No data)

In [85]:
# Testing node-finding
query_to_find_a_book = '''
MATCH (n:Book {book_title: 'Fahrenheit 451'}) RETURN n;
'''
graph.run(query_to_find_a_book)

 n
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 (_14:Book {author_first_name: 'Ray ', author_last_name: 'Bradbury', avg_rating: 4.0, book_id: 14.0, book_title: 'Fahrenheit 451', isbn_10: '1451673310', lexile_level: '890', main_genre: 'Dystopian fiction', page_count: 158.0, publish_year: 1953.0, publisher: 'Ballantine Books'})
 (_15:Book {author_first_name: 'Ray ', author_last_name: 'Bradbury', avg_rating: 4.0, book_id: 15.0, book_title: 'Fahrenheit 451', isbn_10: '1451673310', lexile_level: '890', main_genre: 'Dystopian fiction', page_count: 158.0, publish_year: 1953.0, publisher: 'Ballantine Books'})
 (_16:Book {author_first_name: 'Ray ', author_last_name: 'Bradbury', avg_rating: 4.0, book_id: 16.0, book_title: 'Fahrenheit 451', isbn_10: '1451673310', lexile_level: '890', main_genre: 'Dystopian fiction', page_count: 158.0, publish_year: 1953.0, publisher: 'Ballantine Books'})

In [86]:
query_to_find_an_author = '''
MATCH (n:Author {last_name: 'Tolkien'}) RETURN n;
'''
graph.run(query_to_find_an_author)

 n
---------------------------------------------------------------------------------------------------------------------------------
 (_1004:Author {author_id: 5, first_name: 'John', has_undergraduate_degree: true, last_name: 'Tolkien', nationality: 'British'})

In [88]:
query_to_find_a_patron = '''
MATCH (n:Patron {last_name: 'Gigglebottom'}) RETURN n;
'''
graph.run(query_to_find_a_patron)

 n
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 (_1022:Patron {city: 'Quirkville', first_name: 'Chuckleberry', last_name: 'Gigglebottom', num_of_curr_loans: 1, patron_id: 1, phone_number: 5693210547, state: 'Quirkistan', street: 'Chuckle Street', street_number: 87, zip_code: 10001})

In [89]:
query_to_find_a_loan = '''
MATCH (n:Loan {loan_id: 5}) RETURN n;
'''
graph.run(query_to_find_a_loan)

 n
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 (_1041:Loan {book_id: 21, book_title: 'The Scarlet Letter', due_date: '9/14/2022', fine: '#NAME?', loan_date: '8/14/2022', loan_id: 5, patron_first_name: 'Jiggles', patron_id: 4, patron_last_name: 'Quirkington', return_date: '9/30/2022'})

In [ ]:
# Remaining TODOS:
    # Create the relationships b/n the nodes
    # Finalize database evaluation queries